
.post {
    margin: 30px 0 0 10px;
}

.descrP {
    color: #ffffff;
    text-transform: uppercase;
}

.areaBlock {
    display:  flex;
    align-items: flex-end
}


.area {
    width: 600px;
    min-height: 100px;
    background: #F5F7FB;
    border-radius: 0.4em;
    border: 2px solid #acb954;
    text-decoration: none;
    font-size: 16px;
}


.btnAdd {
    width: 90px;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(68, 68, 68);
    background-color: #F5F7FB;
    letter-spacing: 1px;
    padding: 0px 9px;
    margin-left: 10px;
    border: 1px solid #1F1F1FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: 1ms;
}

.btnAdd:hover {
    color: #000000;
    box-shadow: 0px 0px 5px #ffffff;
    border: none;
}