.app-wrapper {
    display: grid;

    grid-template-areas:
    "headerG headerG"
    "navG contentG";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: contentG;
    background-color: rgb(255, 255, 255);
}

.app-wrapper-content img {
   display: block;
}







